<p id="notice"><%= notice %></p>





<body>
  <div class="content">

    <h1>Articles</h1>

    <%= link_to 'New Article', new_article_path %>
    <% @articles.each do |article| %>
    <div class="home_article_view">
      <div><strong><%= link_to article.title, article %></strong></div>
      <div class="paragraphs"><%= article.content[0..130] %>...</div>
    </div>
    <% end %>
  </div>
</body>


<br>
