

<h1>New Article</h1>

<%= render 'form', article: @article %>

<%= link_to 'Back', articles_path %>

<%= link_to 'Auto-create', hipsterfy_path(article: { title: Faker::Hipster.sentence, content: Faker::Hipster.paragraphs(3).join.gsub(/(\+1)/, '')} ), method: :post %>


